<html>
  <head>
  <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <title>Poke that Pokemon: The best Pokedex world has ever seen</title>
  </head>
  <body>
    <aside class="sidebar">
      <h1>Poke that Pokemon!</h1>
      <section class="">
        <a href="/pokemons">Pokemons</a>
        <a href="/pokemon-types">Pokemon Types</a>
        <a href="/trainers">Trainers</a>
      </section>
    </aside>
    <main>Home page main</main>
  </body>
</html>
