<html>
  <title><%= title %></title>
  <body>
    <% if(locals.pokemonTypes && locals.pokemonTypes.length > 0) { %> <%
    pokemonTypes.forEach(function(pokemonType) { %>
    <div class="pokemonTypeCard">
      <li><%= pokemonType.type %></li>
    </div>
    <% }) %> <% } %>
  </body>
</html>
