<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <% if(locals.pokemonTypes && locals.pokemonTypes.length > 0) { %> <%
    pokemonTypes.forEach(function(pokemonType) { %>
    <div class="pokemonTypesContainer">
      <li class="pokemonType"><%= pokemonType.type %></li>
      <a
        class="pokemonTypeDeleteBtn"
        href="/pokemon-types/<%= pokemonType.type %>/delete"
        >Delete</a
      >
    </div>
    <% }) %> <% } %>

    <h3>Add Pokemon Type</h3>
    <form action="/pokemon-types/add" method="POST">
      <label for="type">Type:</label>
      <input type="text" name="type" id="type" required />
      <%- include("partials/errors.ejs") %>

      <button type="submit">Add</button>
    </form>

    <a href="/">Go back to home page</a>
  </body>
</html>
